<h1>Listing users</h1>
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% if user.project.present? %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <% user.project.each do |proj|  %>
            <%= proj.name %>
          <% end %>
        </td>
        <td><%= user.project_description %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_path %>
