/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= bootstrap.min
 */

body {padding-top: 50px;}
.starter-template {padding: 40px 15px;text-align: center;}
.clear_with_height{clear: both;height: 20px;}
.clear_with_height_5{clear: both;height: 5px;}
.resize_none{resize: none;}
.mrgn_lft_16{margin-left: 16%;}
.mrgn_rgt_36{margin-right: 36%;}
.txt_align_lft{text-align: left;}
.dash_board{color: whitesmoke;background-color: gray;border-color: #d6e9c6;font-weight: bold;}
#nested_fields label{float: left;width: 17%;text-align: left;font-weight: normal;}
#nested_fields input{float: right;}